<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("About")}</%block>

<div class="bg-for-about">
    <div class="contained-wrapper">
        <section class="section-gradient-page-title">
            <h1 class="text-white text-center mt-2">About Us</h1>
        </section>
    </div>
</div>

<div class="contained-wrapper pt-6 pb-5">
    <section class="section-about">
        <div class="row gx-5 align-items-center">
            <div class="col-12 col-md-8">
                <h4 class="mb-4">What we do</h4>
                <h5 class="mb-2 text-primary fw-bold">Building Impactful Learning Programs</h5>
                <h5 class="mb-4 text-black-50 fs-6">We strive to make quality education and life-long learning more accessible in Papua New Guinea.</h5>
                <p>
                    <strong>upskillingPNG</strong> is a joint  initiative led by Active Services LTD in partnership with TMTGroup – an education technology company that specializes in the development and delivery of scalable e-learning programs. We are the partner of choice of leading institutions for the implementation of various learning programs such as professional certifications, scholarships and workforce upskilling.
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img class="pt-5 mt-md-0" width="100%" height="auto" src="https://upskillingpng.com/images/about/3-circle.png" />
            </div>
        </div>
    </section>
</div>

<div class="bg-secondary bg-gradient">
    <div class="contained-wrapper pt-6 pb-6">
        <section class="section-about">
            <h4 class="pt-6 mb-4">Our Services</h4>
                    <div class="d-flex align-items-center mb-3">
                        <p class="mb-0">Our partners benefit from core services and expertise to efficiently develop and launch their learning programs.</p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between pt-4">
                        <div class="col px-3">
                            <img src="https://upskillingpng.com/images/layers.png" width="100px" height="100px" class="bg-light p-4 rounded-circle mb-4 mx-auto d-block">
                            <h5 class="fw-bold text-center">INSTRUCTIONAL DESIGN</h5>
                            <p>
                                Provide instructional design expertise to develop online course resources with partner’s subject matter expert(s).
                            </p>
                        </div>
                        <div class="col px-3">
                            <img src="https://upskillingpng.com/images/video.png" width="100px" height="100px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                            <h5 class="fw-bold text-center">CONTENT PRODUCTION</h5>
                            <p>
                                Provide content preproduction - postproduction expertise and needed recording facility and equipment for the development of video course contents.
                            </p>
                        </div>
                        <div class="col px-3">
                            <img src="https://upskillingpng.com/images/potion.png" width="100px" height="100px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                            <h5 class="fw-bold text-center">COURSE AUTHORING</h5>
                            <p>
                                Course quality checking, authoring, uploading, hosting, deployment, and maintenance on the coursebank.ph online platform.
                            </p>
                        </div>
                        <div class="col px-3">
                            <img src="https://upskillingpng.com/images/plane.png" width="100px" height="100px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                            <h5 class="fw-bold text-center">DEPLOYMENT SUPPORT</h5>
                            <p>
                                Provide program administration and strategic communication support as well as learner support to ensure successful implementation of programs. 
                            </p>
                        </div>
                    </div>
        </section>
    </div>
</div>
<div class="contained-wrapper pt-6 pb-6">
    <section class="section-about">
        <h4 class="pt-6 mb-4">Lead Partners</h4>
                <div class="col-13 col-md-8 mb-3">
                    <p class="mb-2">We enable our clients to advance with clarity and bring their vision to reality.
                        <br>
                        <br>
                        Through our combined knowledge and expertise in diversified industries both in the public and private sector - we deliver creative and innovative education solutions to our clients.
                    </p>
                </div>
                <div class="d-flex flex-row pt-4">
                    <div class="col px-3">
                        <img src="https://upskillingpng.com/images/lead1.png" width="150px" height="150px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                        <h5 class="fw-bold text-center">SILAS MATOLI</h5>
                        <p class="text-center">
                            Founder, Managing Partner
                            <br>
                            Active Limited LTD
                        </p>
                        <p>
                            Highly experienced corporate business leader for over 10 years in Telecommunications and ICT. <br> <br>
                            Involved  in change and innovation programs for government institutions and education sectors where he served as a board member.
                        </p>
                    </div>
                    <div class="col px-3">
                        <img src="https://upskillingpng.com/images/lead2.png" width="150px" height="150px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                        <h5 class="fw-bold text-center">ROXEANNE MACASAET</h5>
                        <p class="text-center">
                            Co-Founder, Chairwoman 
                            <br>
                            TMTGroup Inc.
                        </p>
                        <p>
                            Seasoned executive with experience in Public Relations, Marketing and Corporate Communications in both the private and public sector. 
                            <br> <br>
                            Largely involved with strategy and communication, with specific expertise in crisis communication, branding and stakeholder relations.
                        </p>
                    </div>
                    <div class="col px-3">
                        <img src="https://upskillingpng.com/images/lead3.png" width="150px" height="150px" class="bg-light rounded-circle mb-4 mx-auto d-block">
                        <h5 class="fw-bold text-center">ALLAN DE VENECIA</h5>
                        <p class="text-center">
                            Co-Founder, Chief Executive Officer
                            <br>
                            TMTGroup Inc.
                        </p>
                        <p>
                            Experienced senior executive and venture builder with a diverse background in industries covering retail, food, export, real estate, business process outsourcing, education and information technology. 
                            <br><br>
                            Consulted for  global companies and government units in developing breakthrough forms of innovation to address business and organizational challenges. Developed and implemented large-scale government programs focused mainly on nationwide workforce development and upskilling.
                        </p>
                    </div>
                </div>
    </section>
</div>