<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("About")}</%block>

<div class="bg-for-about">
    <div class="contained-wrapper">
        <section class="section-gradient-page-title">
            <h1 class="page-title" style="font-size: 40px">About Us</h1>
        </section>
    </div>
</div>

<div class="contained-wrapper pt-6 pb-6">
    <section class="section-about">
        <div class="row gx-5 py-5">
            <div class="col-12 col-md-6">
                <h4 class="mb-4">Our Story</h4>
                <p>In 2017, Coursebank set out on a mission to provide affordable and high-quality online courses, tailored specifically for the Filipino audience. By leveraging technology and partnering with private and government institutions, Coursebank aimed to be the leading provider of upskilling and reskilling opportunities in the ever-evolving digital landscape. Today, Coursebank serves over 150,000 Filipino learners, offering a wide range of courses for continuing professional development and empowering individuals to advance their skills and credentials. </p>
                <p>With a commitment to excellence and a focus on accessibility, Coursebank has transformed the educational landscape in the Philippines. By democratizing education and fostering partnerships, the platform has played a pivotal role in helping individuals and institutions achieve their goals of personal and professional growth. As Coursebank looks to the future, it continues to innovate and expand, driven by a dedicated team and a vision of creating a community of Filipino learners united in their pursuit of knowledge and advancement.</p>
            </div>
            <div class="col-12 col-md-6">
                <img width="100%" height="100%" style="object-fit: cover;" src="${static.url('images/about/about-img-1.png')}" />
            </div>
        </div>
        <div class="row gx-5 py-5">
            <div class="col-12 col-md-6">
                <img width="100%" height="100%" style="object-fit: cover;" src="${static.url('images/about/tech.png')}" />
            </div>
            <div class="col-12 col-md-6">
                <h4 class="mb-4 mt-4 mt-md-0">Our Technology</h4>
                <p><a href="/"><u>Coursebank</u></a> is powered by Open EdX©.</p>
                <p>
                    The Open edX® platform is a free and open source course management system that was originally
                    developed by edX. The Open edX platform is used all over the world to host Massive Open Online
                    Courses (MOOCs) as well as smaller classes and training modules.
                </p>

                <p>All use of the Open edX trademarks is subject to compliance with edX's Trademark Policy. Read
                    more about Open EdX's policies here.</p>

                <p>CB E-CADEMY INCORPORATED10F One Global Place, 25th Street & 5th Avenue, Bonifacio Global City,
                    Taguig City 1630 Philippines</p>
                </p>
            </div>

        </div>

    </section>
</div>