<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="bg-cta-gradient-2">
    <div class="contained-wrapper">
        <section class="section-gradient-page-title">
            <h1 class="page-title">Ethical Principles</h1>
        </section>
    </div>
</div>

<div class="contained-wrapper">
    <div class="page-body">
        <div class="pt-5 pb-5">
            <h1 class="text-center mb-5">Honor Code</h1>
            <p class="mb-5">Coursebank applies the Honor Code upheld by EdX. To read more about their terms, read
                the Honor Code
                section at EdX's Terms of Service.</p>
            <h5 class="mb-5">COLLABORATION POLICY</h5>
            <p class="mb-5">By enrolling in a course on Coursebank, you are joining a worldwide online community of
                learners. The aspiration of Coursebank is to provide anyone with an internet connection access to
                courses from the best institutions in the Philippines and to provide our learners the best
                educational experience internet technology enables. You are a part of the community that will help
                Coursebank achieve this goal. Coursebank depends upon your motivation to learn the material and to
                do so with honesty and academic integrity. In order to participate in Coursebank, you must agree to
                the Honor Code below and any additional terms specific to a course or program. This Honor Code, and
                any additional terms, will be posted on each course website.</p>
            <h5 class="mb-5">HONOR PLEDGE</h5>
            <p>By enrolling in a Coursebank course or program, I agree that I will:</p>
            <ul class="mb-5">
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Complete all tests and assignments on my own, including peer evaluation, unless
                            collaboration on
                            an assignment is explicitly permitted.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Assess and mark peers outputs in accordance with the rubric provided.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Maintain only one user account, unless Coursebank has approved the use of a separate
                            user
                            account in connection with an employer-sponsored or university-sponsored
                            program.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Not let anyone else use my username and/or password.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Not engage in any activity that would dishonestly improve my results, or improve or
                            hurt the
                            results of others..</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-check"></i>
                        </div>
                        <label>Not post answers to problems that are being used to assess learner
                            performance.</label>
                    </div>
                </li>
            </ul>
            <h5 class="mb-5">VIOLATIONS</h5>
            <p>If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or
                more of the following actions:</p>
            <ul class="mb-5">
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Complete all tests and assignments on my own, including peer evaluation, unless
                            collaboration on
                            an assignment is explicitly permitted.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Assess and mark peers outputs in accordance with the rubric provided.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Maintain only one user account, unless Coursebank has approved the use of a separate
                            user
                            account in connection with an employer-sponsored or university-sponsored
                            program.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Not let anyone else use my username and/or password.</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Not engage in any activity that would dishonestly improve my results, or improve or
                            hurt the
                            results of others..</label>
                    </div>
                </li>
                <li>
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-3">
                            <i class="bi bi-exclamation"></i>
                        </div>
                        <label>Not post answers to problems that are being used to assess learner
                            performance.</label>
                    </div>
                </li>
            </ul>
            <p class="mb-5"><b class="text-black">Note:</b> Honor Code violations will be determined at the sole discretion of
                Coursebank. You will
                be
                notified if a determination has been made that you have violated this Honor Code and you will be
                informed of the corresponding action to be taken as a result of the violation.</p>
        </div>
    </div>
</div>