<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <div class="contained-wrapper">
      <nav class="main-navbar navbar navbar-expand-lg navbar-light">
        <button
          style="height: 40px; border: none"
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <img src="/images/menu-bar.png" height="16px" width="auto" />
        </button>
        <a class="navbar-brand" href="#">
          <img src="/images/coursebank-brand.png" height="48px" width="auto" />
        </a>
        <a>
          <img src="/images/search-icon.png" height="24px" width="auto" />
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="ms-4 me-auto d-none d-lg-block">
            <a
              class="dropdown nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Explore
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <ul class="navbar-nav mt-5 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item d-none d-lg-block">
              <a class="btn btn-primary" href="#">Join our community</a>
            </li>
          </ul>
          <div class="d-flex d-lg-none flex-column mt-4">
            <a class="btn btn-primary w-100" href="#">Login</a>
            <a class="btn btn-plain w-100 mt-3" href="#">Join our community</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="bg-light-1">
      <div class="contained-wrapper">
        <div class="d-flex gap-4 align-items-center page-banner-v2">
          <div class="col-6">
            <h1 class="pagebanner-title">UI / UX Designer Track</h1>
            <p class="pagebanner-desc mt-2">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.
            </p>
            <a class="btn btn-primary mt-2" href="#">Enroll Now!</a>
          </div>
          <div class="col-6">
            <img
              height="auto"
              width="100%"
              src="/images/page-banners/page-banner-3.png"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="full-width-wrapper sticky-page-nav">
      <div class="contained-wrapper">
        <div class="sticky-nav-content">
          <a href="" class="active">Overview </a>
          <a href="">Courses </a>
          <a href="">FAQ’s </a>
        </div>
      </div>
    </div>

    <div class="contained-wrapper pt-6 pb-6 wide-detail-placeholder">
      <div class="row">
        <div class="col-12 col-md-6 order-1 order-md-0">
          <div class="d-flex flex-column justify-content-center h-100">
            <h2 class="font-42px pb-0 pb-md-3 mt-4 mt-md-0">
              About This Specialization Track
            </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-6 order-0 order-md-1">
          <div class="d-flex h-100 align-items-center">
            <img
              height="auto"
              width="100%"
              src="/images/specialization-course-placeholder-1.png"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="contained-wrapper pt-6 pb-6">
      <section class="will-learn-section">
        <div class="section-header d-flex align-items-center">
          <h3 class="section-title pb-3">Skills You Will Gain</h3>
        </div>
        <div class="row pt-3 gy-2 gy-md-3 gx-3">
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/wireframe.png"
                height="48px"
                width="48px"
              />
              <h4>Wireframing</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/user-journey.png"
                height="48px"
                width="48px"
              />
              <h4>User Journey</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/digital-marketing.png"
                height="48px"
                width="48px"
              />
              <h4>Communication & Collaboration</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/user-research.png"
                height="48px"
                width="48px"
              />
              <h4>User Research</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/prototyping.png"
                height="48px"
                width="48px"
              />
              <h4>Prototyping</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/design-thinking.png"
                height="48px"
                width="48px"
              />
              <h4>Design Thinking</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/design.png"
                height="48px"
                width="48px"
              />
              <h4>Design</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/analysis.png"
                height="48px"
                width="48px"
              />
              <h4>Market Research</h4>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="learn-item mb-3">
              <img
                src="/images/learn-icons/creativity.png"
                height="48px"
                width="48px"
              />
              <h4>Emphatic Design</h4>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="bg-light-1">
      <div class="contained-wrapper pt-6 pb-6">
        <section class="section-courses-container">
          <div class="section-header d-flex align-items-center">
            <h3 class="section-title me-auto">Soft Skills Courses</h3>
            <a href="" class="fw-bold">View All Soft Skills Courses</a>
          </div>
          <div class="row pt-3 gutter-2rem">
            <div class="col-12">
              <a href="">
                <div class="course-item course-item-row">
                  <img
                    class="img-item"
                    height="100%"
                    width="320px"
                    src="/images/course-placeholder.png"
                  />
                  <div class="course-details-container w-100">
                    <span class="course-number mb-1">COURSE 1</span>

                    <p class="course-description mb-1">
                      Using HTML and CSS to design website
                    </p>
                    <p class="text-black mb-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <img
                        class="me-1"
                        height="auto"
                        width="32px"
                        src="/images/course-company-placeholder.png"
                      />
                      <h2 class="course-title">I ACADEMY</h2>
                    </div>
                    <a class="fw-bold" href="">Read More</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12">
              <a href="">
                <div class="course-item course-item-row">
                  <img
                    class="img-item"
                    height="100%"
                    width="320px"
                    src="/images/course-placeholder.png"
                  />
                  <div class="course-details-container w-100">
                    <span class="course-number mb-1">COURSE 2</span>

                    <p class="course-description mb-1">
                      Using HTML and CSS to design website
                    </p>
                    <p class="text-black mb-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <img
                        class="me-1"
                        height="auto"
                        width="32px"
                        src="/images/course-company-placeholder.png"
                      />
                      <h2 class="course-title">I ACADEMY</h2>
                    </div>
                    <a class="fw-bold" href="">Read More</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12">
              <a href="">
                <div class="course-item course-item-row">
                  <img
                    class="img-item"
                    height="100%"
                    width="320px"
                    src="/images/course-placeholder.png"
                  />
                  <div class="course-details-container w-100">
                    <span class="course-number mb-1">COURSE 3</span>

                    <p class="course-description mb-1">
                      Using HTML and CSS to design website
                    </p>
                    <p class="text-black mb-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <img
                        class="me-1"
                        height="auto"
                        width="32px"
                        src="/images/course-company-placeholder.png"
                      />
                      <h2 class="course-title">I ACADEMY</h2>
                    </div>
                    <a class="fw-bold" href="">Read More</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12">
              <a href="">
                <div class="course-item course-item-row">
                  <img
                    class="img-item"
                    height="100%"
                    width="320px"
                    src="/images/course-placeholder.png"
                  />
                  <div class="course-details-container w-100">
                    <span class="course-number mb-1">COURSE 4</span>

                    <p class="course-description mb-1">
                      Using HTML and CSS to design website
                    </p>
                    <p class="text-black mb-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <img
                        class="me-1"
                        height="auto"
                        width="32px"
                        src="/images/course-company-placeholder.png"
                      />
                      <h2 class="course-title">I ACADEMY</h2>
                    </div>
                    <a class="fw-bold" href="">Read More</a>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-12">
              <a href="">
                <div class="course-item course-item-row">
                  <img
                    class="img-item"
                    height="100%"
                    width="320px"
                    src="/images/course-placeholder.png"
                  />
                  <div class="course-details-container w-100">
                    <span class="course-number mb-1">COURSE 5</span>

                    <p class="course-description mb-1">
                      Using HTML and CSS to design website
                    </p>
                    <p class="text-black mb-1">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <div class="d-flex align-items-center pb-3">
                      <img
                        class="me-1"
                        height="auto"
                        width="32px"
                        src="/images/course-company-placeholder.png"
                      />
                      <h2 class="course-title">I ACADEMY</h2>
                    </div>
                    <a class="fw-bold" href="">Read More</a>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="d-flex d-lg-none justify-content-center mt-5">
            <a href="" class="fw-bold">View all Courses</a>
          </div>
        </section>
      </div>
    </div>
    <section class="CTA-Main bg-cta-gradient">
      <div class="contained-wrapper bg-overlay-img pt-6 pb-6">
        <div class="col-12 col-md-10 col-lg-6 col-xl-5">
          <div class="d-flex flex-column justify-content-center h-100">
            <h1>Want to get the latest updates from us?</h1>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident.
            </p>
            <form class="d-flex">
              <input type="text" class="form-control me-3" />
              <button class="btn text-primary">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="bg-dark-1 pt-6 pb-6">
      <div class="contained-wrapper">
        <div class="row">
          <div class="col-12 col-md-4 mb-5">
            <div class="pe-4">
              <div class="pe-5">
                <img
                  class="mb-3"
                  height="48px"
                  width="auto"
                  src="/images/coursebank-brand-white.png"
                />
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum
                </p>
                <button class="btn btn-primary mt-2">Join our community</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-6 col-md-4">
                <h5 class="ul-title mb-4">Coursebank</h5>
                <ul>
                  <li>About</li>
                  <li>Courses</li>
                  <li>Categories</li>
                  <li>Partners</li>
                  <li>Latest Courses</li>
                </ul>
              </div>
              <div class="col-4">
                <h5 class="ul-title mb-4">Community</h5>
                <ul>
                  <li>About</li>
                  <li>Courses</li>
                  <li>Categories</li>
                  <li>Partners</li>
                  <li>Latest Courses</li>
                </ul>
              </div>
              <div class="col-4">
                <h5 class="ul-title mb-4">More</h5>
                <ul>
                  <li>About</li>
                  <li>Courses</li>
                  <li>Categories</li>
                  <li>Partners</li>
                  <li>Latest Courses</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-bottom pt-3">
          <p class="me-auto">
            © Copyright 2023 Coursebank. All rights reserved.
          </p>
          <div class="footer-socials">
            <img height="32px" width="32px" src="/images/social/facebook.png" />
            <img
              height="32px"
              width="32px"
              src="/images/social/instagram.png"
            />
            <img height="32px" width="32px" src="/images/social/twitter.png" />
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/scripts.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </body>
</html>
