## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section>
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <div class="row pt-3 gutter-2rem">
        %for course in courses[:6]:
        <div class="col col-12 sm-col-12 md-col-4 lg-col-4">
            <div class="courses-listing-item">
            <%include file="course.html" args="course=course" />
            </div>
        </div>
        %endfor
    </div>
    % endif
</section>