<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse
from six import text_type
%>
<%page args="course" expression_filter="h"/>
<div id="${course.id}" class="col-12 col-md-6 col-lg-4">
    <a href="${reverse('about_course', args=[text_type(course.id)])}">
    <div class="course-item">
        <div class="category-badge" style="background-color: #387aa6">
        Information Technology
        </div>
        <img
        class="img-item"
        height="auto"
        width="100%"
        src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"
        />
        <div class="course-details-container">
        <div class="d-flex align-items-center">
            <img
            class="me-1"
            height="auto"
            width="32px"
            src="${static.url('images/course-company-placeholder.png')}"
            />
            <h2 class="course-title">${course.display_org_with_default}</h2>
        </div>
        <p class="course-description mt-2 pb-3">${course.display_name}</p>
        <div class="course-start">Class Starts:</div>
        <%
        if course.start is not None:
            course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
        else:
            course_date_string = ''
        %>
        % if course.advertised_start is not None:
            <span class="course-start-date">${course.advertised_start}</span>
        % else:
            <div class="course-start-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}" data-string="${_("{date}")}"></div>
        % endif
        </div>
    </div>
    </a>
</div>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>