## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap:
<div>
  <footer class="bg-dark-1 pt-6 pb-6">
    <div class="contained-wrapper">
      <div class="row">
        <div class="col-12 col-md-4 mb-5">
          <div class="pe-4">
            <div class="pe-5">
              <img
                class="mb-3"
                height="48px"
                width="auto"
                src="${static.url('images/coursebank-brand-white.png')}"
              />
              <p>
                Empowering career advancement of Filipinos through Massive Open Online Courses
              </p>
              <a href="/register?next=%2F" class="btn btn-primary mt-2">Join our community</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-6 col-md-4">
              <h5 class="ul-title mb-4">Coursebank</h5>
              <ul>
                <li><a class="text-light" href="/about">About</a></li>
                <li><a class="text-light" href="/courses">Courses</a></li>
                <!-- <li><a class="text-light" href="">Categories</a></li> -->
                <li><a class="text-light" href="/courses?latest">Latest Courses</a></li>
              </ul>
            </div>
            <!-- <div class="col-4">
              <h5 class="ul-title mb-4">Community</h5>
              <ul>
                <li><a class="text-light" href="/partners">Latest Courses</a></li>
                <li><a class="text-light" href="/blog">Blogs</a></li>
              </ul>
            </div> -->
            <div class="col-4">
              <h5 class="ul-title mb-4">More</h5>
              <ul>
                <li><a class="text-light" href="/privacy">Privacy</a></li>
                <li><a class="text-light" href="/tos">Terms of Service</a></li>
                <li><a class="text-light" href="/honor">Honor Code</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="footer-bottom pt-3">
        <p class="me-auto order-lg-0 order-1 mt-5 mt-lg-0">
          © Copyright 2023 Coursebank. All rights reserved.
        </p>
        <div class="footer-socials order-lg-1 order-0">
          <a href="https://www.facebook.com/coursebank.ph">
            <img height="32px" width="32px" src="${static.url('images/social/facebook.png')}" />
          </a>
          <a href="https://instagram.com/coursebank.ph?igshid=YzcxN2Q2NzY0OA==">
            <img height="32px" width="32px" src="${static.url('images/social/instagram.png')}"/>
          </a>
          <!--
          <img height="32px" width="32px" src="${static.url('images/social/twitter.png')}" />
          -->
        </div>
      </div>
    </div>
  </footer>
</div>
% else:
  <div>
    <footer class="bg-dark-1 pt-6 pb-6">
      <div class="contained-wrapper">
        <div class="row">
          <div class="col-12 col-md-4 mb-5">
            <div class="pe-4">
              <div class="pe-5">
                <img
                  class="mb-3"
                  height="48px"
                  width="auto"
                  src="${static.url('images/coursebank-brand-white.png')}"
                />
                <p>
                  Empowering career advancement of Filipinos through Massive Open Online Courses
                </p>
                <a href="/register?next=%2F" class="btn btn-primary mt-2">Join our community</a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-8">
            <div class="row">
              <div class="col-6 col-md-4">
                <h5 class="ul-title mb-4">Coursebank</h5>
                <ul>
                  <li><a class="text-light" href="/about">About</a></li>
                  <li><a class="text-light" href="/courses">Courses</a></li>
                  <!-- <li><a class="text-light" href="">Categories</a></li> -->
                  <li><a class="text-light" href="/courses?latest">Latest Courses</a></li>
                </ul>
              </div>
              <!-- <div class="col-4">
                <h5 class="ul-title mb-4">Community</h5>
                <ul>
                  <li><a class="text-light" href="/partners">Latest Courses</a></li>
                  <li><a class="text-light" href="/blog">Blogs</a></li>
                </ul>
              </div> -->
              <div class="col-4">
                <h5 class="ul-title mb-4">More</h5>
                <ul>
                  <li><a class="text-light" href="/privacy">Privacy</a></li>
                  <li><a class="text-light" href="/tos">Terms of Service</a></li>
                  <li><a class="text-light" href="/honor">Honor Code</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="footer-bottom pt-3">
          <p class="me-auto order-lg-0 order-1 mt-5 mt-lg-0">
            © Copyright 2023 Coursebank. All rights reserved.
          </p>
          <div class="footer-socials order-lg-1 order-0">
            <a href="https://www.facebook.com/coursebank.ph">
              <img height="32px" width="32px" src="${static.url('images/social/facebook.png')}" />
            </a>
            <a href="https://instagram.com/coursebank.ph?igshid=YzcxN2Q2NzY0OA==">
              <img height="32px" width="32px" src="${static.url('images/social/instagram.png')}"/>
            </a>
            <!--
            <img height="32px" width="32px" src="${static.url('images/social/twitter.png')}" />
            -->
          </div>
        </div>
      </div>
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif