<section class="CTA-Main bg-cta-gradient">
    <div class="contained-wrapper bg-overlay-img pt-6 pb-6">
      <div class="col-12 col-md-12 col-lg-6 col-xl-5 h-100 d-flex align-items-center">
        <div class="d-flex flex-column justify-content-center">
          <h1 class="text-left">Want to get the latest updates from us?</h1>
          <p class="text-left">
            Stay connected and be in the know by subscribing to our newsletter, where you'll receive the latest updates, news, and course launch directly to your inbox!
          </p>
          <a class="btn text-primary"
            href="http://sendy.coursebank.ph/subscription?f=h7639Z8y2GPrxoIyel9A6U892OzYJzX5ZUnqmIU86koxveECfyjtQSKurB1cjjnql892zz">Subscribe</a>
          <!-- <form id="subscribe" class="d-flex flex-wrap flex-md-nowrap">
            <input type="text" class="form-control me-0 me-md-3" />
            <button class="btn text-primary mt-3 mt-md-0">Subscribe</button>
          </form> -->
        </div>
      </div>
    </div>
</section>